<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>



<body>

    <header>
        <h2>Welcome to Diego's Workout Planner</h2>
      </header>
<section>
    <nav>
    <table class="content-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Day</th>
                <th>Exercise</th>
                <th>Series</th>
                <th>Rest</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</nav>

<article>
    <h2>Add a Workout</h2>

<p>Day:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="text" id="fieldday" ></p> 
<p>Exercise: <input type="text" id="fieldexercise"></p>
<p>Series:&nbsp&nbsp&nbsp&nbsp <input type="text" id="fieldseries"></p>
<p>Rest: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="text" id="fieldrest"></p>


<button id = "add-Button" >Add</button>
</article>

<articletwo>
    <h2>Select the workout that you want to remove by clicking on its ID, or enter it manually in the ID field</h2>

    <p>ID:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="text" id="fieldidtodelete" ></p> 
    
    
    
    <button id = "delete-Button" >Delete</button>
</articletwo>

  <script src = "main.js"></script>
</section>
</body>
</html>